.ourReachContainer {
    padding: 48px 8%;
}

.ourReachContentContainer {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reachCityList {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    margin-top: 48px;
}

.ourReachCityItemContainer {
    display: flex;
    align-items: center;
    gap: 12px;
    transform-origin: center left;
}
